development:
  adapter: postgresql
  encoding: unicode
  database: wordrobe_development
  pool: 5
  username: tokuyama
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: wordrobe_test
  pool: 5
  username: tokuyama
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: wordrobe_production
  pool: 5
  username: tokuyama
  password:
