<%= render :partial => "layouts/logo" %>

<div id="sign_in"><%= t(".message.sign_in") %></div>
<div id="sign_in_with_facebook"><%= link_to t(".link.sign_in_with", :provider => "Facebook"), "/auth/facebook", :class => "btn primary" %></div>
