<div id="wardrobe">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div id="sign_in" class="well">
          <p id="need_id"><%= t(".message.need_id", :provider => "Facebook") %></p>
          <p id="sign_in_with"><%= link_to t(".link.sign_in_with", :provider => "Facebook"), "/auth/facebook", :class => "btn" %></p>
        </div>
      </div><!-- /.span6 -->
      <div class="span9 offset1">
        <div id="word">
          <img src="/assets/static/welcome/word.png" width="304" height="398" alt="foreseeable" />
        </div>
      </div><!-- /.span9 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /#wardrobe -->
