/* <!-- common --> */

$link_normal_color: #0069D6;
$link_hover_color: #00438A;

@font-face {
  font-family: Ultra;
  src: url("Ultra.ttf") format("truetype");
}

@font-face {
  font-family: SketchRockwell;
  src: url("SketchRockwell.ttf") format("truetype");
}

@font-face {
  font-family: Rokkitt;
  src: url("Rokkitt.otf") format("opentype");
}

@font-face {
  font-family: MyriadPro;
  src: url("Myriadpro.otf") format("opentype");
}

html body {
  height: 100%;
}

a {
  color: $link_normal_color;
}

a.hover {
  color: $link_hover_color;
  text-decoration: underline;  
}

.key {
  display: inline-block;
  min-width: 18px;
  height: 18px;
  margin: 2px;
  padding: 2px;
  text-align: center;
  font: 14px/18px sans-serif;
  color: #777;                          
  background: #EFF0F2;
  border-top: 1px solid #F5F5F5;
  text-shadow: 0px 1px 0px #F5F5F5;
  -webkit-box-shadow: inset 0 0 25px #eee, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
  -moz-box-shadow: inset 0 0 25px #eee, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
  box-shadow: inset 0 0 25px #eee, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

#header {
  #menu {
    height: 50px;
    margin: 10px 0 0 0;
    font-size: 11px;

    #picture {
      text-align: right;
      margin: 3px 0 0 0;
    }

    #nickname {
      font-family: Rokkitt;
      color: #666;
    }

    #link {
      img {
        vertical-align: top;
      }

      a {
        margin: 0 10px 0 0;
      }
    }
  }

  h1#logo {
    margin: 8px 0 0 0;
    padding: 0;
    font-family: Ultra;
    font-size: 20px;
    line-height: 100%;

    a {
      color: #222;
      text-decoration: none;    
    }
  }
}

.my_modal {
  h3 {
    margin: 5px 0 0 0;
    font-size: 12px;
    line-height: 30px;
  }

  .modal-body {
    p, li {
      font-size: 11px;
    }

    li {
      list-style: none;
      margin-bottom: 3px;
    }
  }
}

.modal.fade {
  top: 55%;
}
.modal.fade.in {
  top: 50%;
}

#stickies {
  height: 293px;
  margin: 100px 0 0 0;
  background-image: url("/assets/stickies.png");
  background-repeat: no-repeat;
  background-position: center;
}

#footer {
  margin: 90px 0 90px 0;
  text-align: center;
  font-family: MyriadPro;
  font-size: 10px;
}

/* <!-- /common --> */


/* <!-- static_welcome --> */

#static_welcome {
  h1#logo {
    height: 70px;
    margin: 90px 0 0 0;
    text-align: center;
    font-size: 60px;
  }

  #stickies {
    margin: 30px 0 0 0;

    #sign_in {
      padding: 130px 0 0 0;
      text-align: center;

      #need_id {
        font-size: 11px;
      }

      #sign_in_with {
        margin: 0;
      }
    }
  }
}

/* <!-- /static_welcome --> */


/* <!-- account_dashboard --> */

#accounts_dashboard {
  #wordrobe {
    padding: 130px 0 0 0;
    text-align: center;

    #wordrobe_info {
      #heart {
        font-family: Rokkitt;
        font-size: 40px;
        text-shadow: 1px 1px 0 #fff;
        color: #333;
      }

      #sorry {
        font-size: 30px;
        text-shadow: 1px 1px 0 #fff;
        color: #333;
      }

      #help_text {
        margin: 12px 0 0 0;
        font-size: 11px;
      }
    }
  }
}

/* <!-- /account_dashboard --> */
