$link_normal_color: #0069D6;
$link_hover_color: #00438A;

@font-face {
  font-family: Ultra;
  src: url("Ultra.ttf") format("truetype");
}

/* <!-- common --> */
body {
  background-color: #555;
}

a {
  color: $link_normal_color;
}

a.hover {
  color: $link_hover_color;
  text-decoration: underline;  
}

#bg {
  background-color: #fff;
  background-image: url("/assets/common/bg_grayscale.png");
}

h1#logo {
  width: 365px;
  height: 44px;
  margin: 2px 0 10px 0;
  font-family: Ultra;
  font-size: 60px;
}

#shadow {
  background-image: url("/assets/common/bg_copyright.png");
  height: 20px;
}

#copyright {
  color: #eee;
  text-align: right;
  font-size: 11px;
  padding: 10px 20px 30px 0;
}
/* <!-- /common --> */


/* <!-- welcome --> */
#welcome {
  margin: 190px 0 0 0;

  p#lead {
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(10, 10, 10, 0.2);
    margin-left: 4px;
  }

  #sign_in {
    margin: 20px 0 140px 20px;  

    #need_id {
      font-size: 11px;
      margin: 0 0 5px 0;
    }
  }
}
/* <!-- /welcome --> */


/* <!-- common exclude static --> */
#header {
  margin: 28px 0 10px 0;    

  #picture {
    text-align: right;
  }

  #greeting {
    margin: 2px 0 0 0;
    font-weight: bold;
  }

  #menu {
    margin:8px 0 0 0;

    .pills {
      a {
        margin: 0 10px 0 0;
        padding: 3px 5px 3px 5px;
        line-height: 100%;
        background: none;
        color: $link_normal_color;
        text-shadow: none;
      }

      a:hover {
        color: $link_hover_color;
        text-decoration: underline;
      }
    }
  }
}
/* <!-- /common exclude static --> */


/* <!-- wordrobe --> */
#wordrobe {
  table {
    background-color: #fff;
    border: 2px solid #ccc;
  }
}

/* <!-- /wordrobe --> */
