<table>
  <thead>
    <tr>
      <th>単語</th>
      <th>回数</th>
      <th>単語</th>
      <th>回数</th>
    </tr>
  </thead>
  <tdbody>
    <% @wordrobe.each do |word| %>
      <tr>
        <%= raw(word_row(word)) %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @wordrobe, :remote => true, :theme => "wordrobe_next", :params => { :controller => "/accounts/wordrobes", :action => "index_with_ajax" } %>
<%= paginate @wordrobe, :remote => true, :theme => "wordrobe_prev", :params => { :controller => "/accounts/wordrobes", :action => "index_with_ajax" } %>
