<div id="header">
  <div class="row">
    <div class="span8">
      <h1 id="logo">Wordrobe</h1>
    </div>
    <div class="span8">
      <div>
        <%= t(".message.welcome", :name => current_account.last_name) %>
        <img src="http://graph.facebook.com/<%= current_account.nickname %>/picture" />
        <ul>
          <li><%= link_to t(".link.log_out"), log_out_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
