<%= javascript_tag do %>
// update wordrobe
$(function() {
  $(".update_wordrobe").live(
    "ajax:success",
    function(event, data, xhr) {
      $("div#wordrobe").html(data);
    }
  );
});

// star rating
$.fn.rating.options.callback = function(value) {
  $.post(
    "/accounts/wordrobes/" + $("input#wordrobe_id").val() + "/rating_with_ajax?page=" + $("input#page").val(),
    { rating : value },
    function(data) {
      <% (1..5).to_a.each do |i| %>
        $('#star_<%= i %>').twipsy('hide');
      <% end %>
      $("#wordrobe").html(data);
    }
  );
};
<% end %>

<div class="container">
  <div id="stickies">
    <div id="wordrobe">
      <%= render :partial => "accounts/wordrobes/wordrobe" %>
    </div><!-- /#wordrobe -->
  </div><!-- /#stickies -->
</div><!-- /.container -->
