<script type="text/javascript">
$(function() {
  $(".update_word_list")
    .live("ajax:success", function(event, data) {
      $("#word_list").html(data);
    });
});
</script>

<%= form_tag "accounts/words", :method => :post do %>
  <%= autocomplete_field_tag "word", "", autocomplete_word_name_words_path, :size => 30 %>
  <%= submit_tag t("word.button.create") %>
<% end %>

<div id="word_list">
  <%= render :partial => "accounts/words/wordrobe" %>
</div>