<script type="text/javascript">
$(function() {
  $("a[data-update]")
    .live("ajax:success", function(data, status, xhr) {
      var link = $(this);
      $("#" + link.attr("data-update")).html(status);
    });
});
</script>

<%= form_tag "accounts/words", :method => :post %>
  <%= autocomplete_field_tag "word", "", autocomplete_word_name_words_path, :size => 30 %>
  <%= submit_tag t("word.button.create") %>

<div id="word_list">
  <%= render :partial => "accounts/words/words_belonged" %>
</div>