<div class="container">
  <div id="stickies">
    <div id="wordrobe">
      <%= render :partial => "accounts/wordrobes/wordrobe" %>
    </div><!-- /#wordrobe -->
  </div><!-- /#stickies -->
</div><!-- /.container -->
